@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Krona+One&display=swap');

:root {

  /* reusable colour variables for easy modification */
  --text: #fff;
  --bg-dark: #4C4159;
  --accent: #FBA76A;
  --accent-dark: #e9853d;
  --translucent: rgba(0,0,0,0.5);
  box-sizing: border-box;
}

*, * + * {
  box-sizing: inherit;
}

/* base element styling */

body {
  font-family: KoHo, sans-serif;
  margin: 0;
  color: var(--text);
  background-color: rgb(7, 7, 23);
  background-image: radial-gradient(rgb(252, 240, 225), rgba(251, 217, 166, 0.2) 2px, transparent 40px),
  radial-gradient(white, rgba(222, 187, 253, 0.15) 1px, transparent 30px),
  radial-gradient(white, rgba(173, 243, 250, 0.1) 2px, transparent 40px),
  radial-gradient(rgba(249, 235, 192, 0.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  background-attachment: fixed;
}

h1, h2, h3 {
  font-family: "Krona One", serif;
  font-weight: normal;
}

h4 {
  font-weight: bold;
}

header {
  background-color: var(--translucent);
  backdrop-filter: blur(5px);
  width: 100%;
  padding: 1rem 0;
  z-index: 20;
}

a, a:visited {
  color: var(--accent);
}

a.nav-link {
  color: var(--text);
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.btn {
  background-color: var(--accent);
  font-size: 1.1rem;
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-family: KoHo;
  border: 0;
  border-radius: 0.1rem;
  padding: 0.5em 1em;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--accent-dark);
}

label {
  gap: 0.5rem;
}

label > input[type="text"], label > textarea, label > input[type="number"] {
  width: 100%;
  display: block;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1rem;
}

.buttonsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.25em;
}

section {
  background-color: var(--bg-dark);
  padding: 1rem;
}

form {
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

/* remove excess margins */
form > h2, form > h3, form > p {
  margin: 0
}

section + section {
  margin-top: 4rem;
}

code {
  font-family: monospace;
  font-weight: bold;
  color: var(--accent);
  font-size: 1.1rem;
}

/* ====================================== */
/* utility classes */

.accent {
  color: var(--accent);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.italic {
  font-style: italic;
}

/* =========================================== */
/* banner styling */

section.hero {
  background-image: url("./gradient.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 65vh;
  font-family: "Krona One";
  font-size: 40px;
  padding: 50px 0.5rem;
}

.hero > * {
  text-align: right;
  max-width: 400px;
  margin:auto;
  margin-bottom: 2rem;
}

.hero > * + * {
  text-align: left;
}

#mars {
  display: block;
  font-size: 100px;
  line-height: 0.9;
}

/* ========================================= */
/* reviews */

.maincontent-container {
  padding: 1rem;
}

.review {
  background-color: var(--bg-dark);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 2rem;
}

.reviewHeader {
  display: grid;
  grid-template-areas:
  "img h"
  "img stars";
  grid-template-columns: 50px auto;
  grid-template-rows: 2rem 1rem;
  gap: 0 1rem;
}

.reviewHeader > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  grid-area: img;
}

.reviewHeader > h4 {
  grid-area: h;
  margin: 0
}

.reviewHeader > .starRating {
  grid-area: stars;
  color: var(--accent);
}

/*  =================================== */
/* Carousel styling */

.carousel {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
}

/* CSS for slides */
.slides {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory; /* Enable snap scrolling */
    border-radius: 5px;
  }

  /* CSS for individual slide (image) */
.slide {
  flex: 0 0 auto; /* Disable flex grow and shrink */
  scroll-snap-align: start; /* Snap to start of each slide */
  position: relative;
  width: 100%;
}

.slide img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.slide p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--translucent);
  color: #fff;
  padding: 1rem;
  font-size: 0.9rem;
  margin: 0;
  backdrop-filter: blur(2px);
}


/* CSS for navigation buttons */
.prev,
.next {
    position: absolute;
    top: 0;
    /* transform: translateY(-50%); */
    padding: 10px 20px;
    background-color:#fff;
    color: #4C4159;
    border: none;
    cursor: pointer;
    font-family: KoHo, sans-serif;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.next {
    right: 0;
}
.prev {
    left: 0;
}

.next:hover, .prev:hover {
    background-color: var(--accent-dark);
}

.next:disabled, .prev:disabled {
  opacity: 0.5;
  background-color: #fff;
}


/* =============================================== */
/* Review radio buttons */

.rating-container input[type="radio"] {
    display: inline-block;
    margin-right: 5px; /* Adjust spacing between radio buttons */
  }

/* ============================= */

.introduction {
    text-align: center;
    font-family: monospace
}

/* CSS for image wrapper */
.image-wrapper {
    margin-right: 100px; /* Optional: Add margin between images */
}

/* CSS for images */
.image-wrapper img {
    width: 250px; /* Set width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* CSS for captions */
.image-wrapper figcaption {
    text-align: center; /* Center the caption text */
}

footer {
    text-align: center;
    margin: 50px;
}

.footersDiv {
    text-align: center;
    margin: 50px;
}


/* styling for tablet screens */
@media (min-width: 600px) {
  section {
    padding: 2rem;
  }
}


/* styling for larger screens */
@media (min-width: 800px) {

  header {
    position: sticky;
    top: 0;
  }

  .buttonsDiv {
    max-width: 800px;
    margin: auto;
    justify-content: space-between;
    padding: 0 1rem;
  }


  section {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    border-radius: 2px;
  }

  section.hero {
    padding: 100px 0;
    max-width: 100vw;
  }

  .review {
    max-width: 800px;
    margin: 0 auto 2rem auto;
    padding: 2rem;
    border-radius: 2px;
  }

  .maincontent-container {
    max-width: 800px;
    margin: auto;
    padding: 2rem;
  }

  .slide p {
    font-size: 1.2rem;
    backdrop-filter: blur(5px);
  }

  .prev,
  .next {
      position: absolute;
      top: 0;
      /* transform: translateY(-50%); */
      padding: 10px 20px;
      background-color:#fff;
      color: #4C4159;
      border: none;
      cursor: pointer;
      font-family: KoHo, sans-serif;
      border-radius: 2px;
      width: 80px;
      height: 100%;
      text-align: center;
  }

  .next {
      right: -80px;
  }
  .prev {
      left: -80px;
  }

}
