@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Krona+One&display=swap');

:root {

  /* reusable colour variables for easy modification */
  --text: #fff;
  --bg-dark: #4C4159;
  --accent: #FBA76A;
  --accent-dark: #e9853d;
  --translucent: rgba(0,0,0,0.3);
  box-sizing: border-box;
}

*, * + * {
  box-sizing: inherit;
}

/* base element styling */

body {
  font-family: KoHo, sans-serif;
  margin: 0;
  color: var(--text);
  background-color: rgb(7, 7, 23);
  background-image: radial-gradient(rgb(252, 240, 225), rgba(251, 217, 166, 0.2) 2px, transparent 40px),
  radial-gradient(white, rgba(222, 187, 253, 0.15) 1px, transparent 30px),
  radial-gradient(white, rgba(173, 243, 250, 0.1) 2px, transparent 40px),
  radial-gradient(rgba(249, 235, 192, 0.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

h1, h2, h3 {
  font-family: "Krona One", serif;
  font-weight: normal;
}

h4 {
  font-weight: bold;
}

header {
  background-color: var(--translucent);
  width: 100%;
  padding: 1rem 0;
}

a, a:visited {
  color: var(--accent);
}

a.nav-link {
  color: var(--text);
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.btn {
  background-color: var(--accent);
  font-size: 1.1rem;
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-family: KoHo;
  border: 0;
  border-radius: 0.1rem;
  padding: 0.5em 1em;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--accent-dark);
}

label {
  gap: 0.5rem;
}

label > input[type="text"], label > textarea {
  width: 100%;
  display: block;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1rem;
}

.buttonsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.25em;
}

section {
  background-color: var(--bg-dark);
  padding: 1rem;
}

form {
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

/* remove excess margins */
form > h2, form > h3, form > p {
  margin: 0
}

section + section {
  margin-top: 4rem;
}

code {
  font-family: monospace;
  font-weight: bold;
  color: var(--accent);
  font-size: 1.1rem;
}

/* ====================================== */
/* utility classes */

.accent {
  color: var(--accent);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.italic {
  font-style: italic;
}

/* =========================================== */
/* banner styling */

.hero {
  background-image: url("./gradient.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 65vh;
  font-family: "Krona One";
  font-size: 40px;
  padding: 50px 0.5rem;
}

.hero > * {
  text-align: right;
  max-width: 400px;
  margin:auto;
  margin-bottom: 2rem;
}

.hero > * + * {
  text-align: left;
}

#mars {
  display: block;
  font-size: 100px;
  line-height: 0.9;
}

/* ========================================= */

.introduction {
    text-align: center;
    font-family: monospace
}

.welcome {
    display: inline-block;
    padding: 10px 20px;
    background-color: #9C002F;
    color: #ededed;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.welcome:hover {
    background-color: #5b5b5b;
}

.reviews {
    display: inline-block;
    padding: 10px 20px;
    background-color: #9C002F;
    color: #ededed;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* CSS for carousel container */
.carousel {
    position: relative;
    max-width: 600px; /* Set maximum width */
    margin: 0 auto; /* Center the carousel */
}

/* CSS for slides */
.slides {
    display: flex; /* Arrange slides in a row */
    overflow-x: hidden; /* Enable horizontal scrolling - auto */
    scroll-snap-type: x mandatory; /* Enable snap scrolling */
    display: flex;
}

/* CSS for description of slides */
.alt-text {
    position: absolute;
    bottom: 0; /* Position at the bottom */
    left: 0; /* Position at the left */
    width: 100%; /* Full width */
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    padding: 5px; /* Add padding */
    box-sizing: border-box; /* Include padding and border in width/height calculations */
  }

/* CSS for individual slide (image) */
.slides img {
    flex: 0 0 auto; /* Disable flex grow and shrink */
    scroll-snap-align: start; /* Snap to start of each slide */
    width: 100%; /* Fill the container width */
    height: auto; /* Maintain aspect ratio */
}

/* CSS for navigation buttons */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    background-color: #9C002F;
    color: #ededed;
    border: none;
    cursor: pointer;
    font-family: monospace;
    border-radius: 5px;
}

.next {
    right: 0;
}
.prev {
    left: 0;
}

.next:hover {
    background-color: #5b5b5b;
}

.prev:hover {
    background-color: #5b5b5b;
}




.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
    overflow: visible;
}

.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
}

.gallery::after {
    content: "";
    width: 350px;
}

.cvGallery {
    display: flex;
}
/* CSS for image wrapper */
.image-wrapper {
    margin-right: 100px; /* Optional: Add margin between images */
}

/* CSS for images */
.image-wrapper img {
    width: 250px; /* Set width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* CSS for captions */
.image-wrapper figcaption {
    text-align: center; /* Center the caption text */
}

footer {
    text-align: center;
    margin: 50px;
}

.footersDiv {
    text-align: center;
    margin: 50px;
}
